
.status-online {
    background: #43b581;
    border: solid 2px white;
}

.status-idle {
    background: #faa61a;
    border: solid 2px white;
}

.status-busy {
    background: #f04747;
    border: solid 2px white;
}

.status-offline {
    background: #ffffff;
    border: solid 2px #ededed;
}

.chat-box .fa-square {
    color: #343a40;
    background: white;
}

.chat-box .fa-check-square {
    color: #ffb978;
    background: white;
}

.chat-box input[type="checkbox"] {
    display: none;
    position: relative;
}

    .chat-box input[type="checkbox"] + * {
        left: 0;
        display: none;
        background: white;
        position: absolute;
    }

    .chat-box input[type="checkbox"]:checked + * {
        display: initial;
        transform: scale(1.05);
        animation: checkmark-scale 300ms ease-in;
    }

@keyframes checkmark-scale {
    0% {
        transform: scale(0.0);
    }

    25% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.05);
    }
}
