[aria-label="chat-editor-area"] {
    width: 100%;
    height: 100%;
    background: white;
}

    [aria-label="chat-editor-area"] form {
        background: #efefef;
    }


    [aria-label="chat-editor-area"] form > * {
        height: 100%;
        position: absolute;
        transition: 110ms ease-in;
        animation: slide-from-right 300ms cubic-bezier(0,0.85,0,1);
    }

    [aria-label="chat-editor-area"] form label * {
        pointer-events: none;
    }

    [aria-label="chat-editor-area"] form  > *:hover {
        color: white;
        background: #ffb978;
    }

@keyframes slide-from-right {
    000% { left: 100%; }
    100% { left: 0%; }
}
